<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    <h1>Category List</h1>

    <ul>
        % for category in category_list:
            <li>{{ category.name }}</li>
        % end
    </ul>
    <h2>Category List</h2>
    <ul>

        % for category in category_list:
            <li>{{ category.name }}
                [<a href="/delete_category/{{ category.id }}" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>]
            </li>
        % end
    </ul>
    <p>
        <a href="/add_category">Add Category</a>
    </p>
    <!-- Inside list_categories.html -->
<ul>
    % for category in category_list:
        <li>
            {{ category.name }}
            <a href="/update_category/{{ category.id }}">Update</a>  <!-- Add this line -->
        </li>
    % end
</ul>


    <a href="/list">Back to Task List</a>
</body>
</html>
